* {
  margin: 0;
}

body {
  background: #000;
}
.container {
  position: relative;
}
h1{
  position: absolute;
  color: #fff;
  margin: 80px 50px;
  z-index: 3;
  user-select: none; /* CSS3 */
  -moz-user-select: none; /* Firefox */
  -webkit-user-select: none; /* Safari、Chrome, etc. */
  -ms-user-select: none; /* IE10~ */

  text-shadow: 2px 2px 1px #eee;
}
  h1:hover {
    cursor: pointer;
  }

.green {
  color: #094;
}
.red {
  color: #B81C22;
}

.file {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  /*position: relative;*/
  margin: 140px 50px;
  padding: .5em;
  color: #fff;
  background-color: #009944;
  z-index: 3;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;
  box-shadow: 2px 2px 2px #eee;
}

.fileReader {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}

.video {
  position: absolute;
  display: inline-block;
  overflow: hidden;
  /*position: relative;*/
  margin: 140px 170px;
  padding: .5em;
  color: #fff;
  background-color: #B81C22;
  z-index: 3;
  font-family: helvetica, arial, 'hiragino kaku gothic pro', meiryo, 'ms pgothic', sans-serif;

  box-shadow: 2px 2px 2px #eee;
}

.videoReader {
  opacity: 0;
  filter: progid:DXImageTransform.Microsoft.Alpha(opacity=0);
  position: absolute;
  right: 0;
  top: 0;
  margin: 0;
  font-size: 100px;
  cursor: pointer;
}

#canvas {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 100%;
  z-index: 2;
}
#snow_canvas {
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  height: 0px;
  z-index: 2;
  background: -webkit-gradient(linear,left top,left bottom,from(rgba(240,240,240,0.8)),
    color-stop(0.01, rgba(240,240,240,1.0)),
    to(rgba(240,240,240,1.0)));
}

#id {
  position: absolute;
  right: 0;
  top: 0;
  overflow: hidden;
  z-index: 0;
}

.noDisp {
  display: none;
}

#video {
  -webkit-transform: scaleX(-1);
}

/* Todo: ここ，頑張るとこ */
@media screen and (min-width:480px) {
    /*　for iPhone Landscape　(iPhone 横)　*/

}
@media screen and (min-width:768px) and ( max-width:1024px) {
    /*　for iPad 　*/

}
@media screen and (min-width:1024px) {
    /*　for PC　*/

}

/* ちゃんと動くのか */
@media only screen and (orientation : portrait) { /*縦向き*/
body {transform: rotate(90deg);}
}
